<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wordsearch</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/297392fead.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h2>Wordsearch</h2>
    <div class="content">
      <div id="grid-container">

      </div>

      <div>
        <h3>Words:</h3>
        <div class="words-conatiner">

        </div>

        <form action="/generate" method="POST" class="generate-form">
          <button type="submit" class="generate-button">Generate New Wordsearch</button>
        </form>

      </div>

    </div>
  <script src="/script.js"></script>
  </body>
</html>