<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wordsearch</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/297392fead.js" crossorigin="anonymous"></script>
  </head>
  <body class="main-body">
    <h2>Wordsearch</h2>
      <form action="/word" method="POST" class="generate-form">
        <label for="chooseWord">Choose a Word:</label>
        <input id="chooseWord" type="text" placeholder="duck" name="word">
         <br>
        <button type="submit" class="generate-button">Generate</button>
     </form>
    <div class="content">
      
      

      <div id="grid-container">
       <table>
        <!-- Loop to create 15 rows -->
        <% for (var i = 0; i < 15; i++) { %>
            <tr>
                <!-- Loop to create 15 cells in each row -->
                <% for (var j = 0; j < 15; j++) { %>
                    <td></td>
                <% } %>
            </tr>
        <% } %>
    </table>
      </div>


    <div class="word-content">

      <div>
        <h3>Words:</h3>
        <% if (typeof relatedWords !== 'undefined') { %>
          <% for (let i = 0; i < relatedWords.length; i++) { %>
            <p><%= relatedWords[i] %></p>
        <br>
        <% if (typeof(words) !== undefined) { %>
          <% for (let i = 0; i < words.length; i++) { %>
            <p><%= words[i] %></p>
          <% } %>
        <% } %>
      </div>
    </div>
    </div>

  <script src="/script.js"></script>
  </body>
</html>