
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #333;
  padding: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#grid-container {
  border: 2px solid #333;
  padding: 10px;
  margin-right: 20px;
  background-color: white;
}

.words-conatiner {
  margin-top: 20px;
}

.words-conatiner h3 {
  margin-bottom: 10px;
  color: #333;
}

.generate-form {
  text-align: center;
}

.generate-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #0056b3;
}
