// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.kumbh-sans-<uniquifier> {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 116;
}
.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*----MAIN----*/

.main-body {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #DCCCBB;
  font-family: "Kumbh Sans", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: none;
  font-size: 90px;
  color: #333;
  padding: 30px;
  font-family: "Bungee Shade", serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#chooseWord {
  border-radius: 10px;
  border: none;
  width: 6vw;
  height: 2vw;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 2px solid #243c47;
  padding: 10px;
  margin-right: 30px;
  background-color: #f0ebe6;
  height: 474px;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #243c47;
  background-color: #ffffff; 
  font-size: 16px;
  color: #333;
  height: 30px;
  width: 30px;
  margin: none;
}


#grid-container table {
    border-collapse: collapse;
}

#grid-container table td {
    width: 30px; 
    height: 30px; 
    border: 1px solid #243c47; 
}

.wordlist-word{
  margin: 8px;
}

.words-container {
  margin-top: 20px;
}

.words-container h3 {
  margin-bottom: 10px;
  color: #333;
}

.generate-form {
  text-align: center;
}


.generate-button {
  background-color: #385F71;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 5px 10px;
  width: 8vw;
  height: 3vw;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #243c47;
}

table {
  border-collapse: collapse;
}
td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}


/*----LOGIN + REGISTER----*/


.login-body, .register-body {
  font-family: Arial, sans-serif;
  background-color: #DCCCBB;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #DCCCBB;
}

.login-box, .register-box {
  width: 400px;
  margin: 14% 20% 1% 36%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.login-title, .register-title {
  text-align: center;
  margin-bottom: 20px;
}

.logreg-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button, .register-button {
  background-color: #385F71;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 5px 10px;
  width: 8vw;
  height: 3vw;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #243c47;
} 

.register-button:hover {
  background-color: #243c47;
}

.register-link {
  color: #1e90ff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

/*-----DARK MODE-----*/
/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #f0ebe6;
}

body.dark-mode h2 {
  color: #f0ebe6;
}

body.dark-mode .generate-button {
  background-color: #243c47;
}

body.dark-mode .generate-button:hover {
  background-color: #385F71;
}

body.dark-mode #grid-container {
  border: 2px solid #f0ebe6;
  background-color: #555;
}

body.dark-mode .grid-cell {
  border: 0.5px solid #f0ebe6;
  background-color: #777;
  color: #f0ebe6;
}

/* Dark Mode Toggle Styles */
.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #333;
  transition: .4s;
}

input:checked + .slider {
  background-color: floralwhite;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


